<!DOCTYPE html>
<html>
<head>
    <!-- Your CSS and other head elements go here -->
</head>
<body>
    <section>
        <div class="container mt-3">
            <h1>Shopping Cart</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each carts}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
